<div class="modal-content">

  <div class="modal-header">
    <h4 class="modal-title">Configurações alarme telegram</h4>
  </div>

  <div class="modal-body">
    
    <div class="col-xs-12" style="margin-bottom: 10px;">
        <label class="control-label">Nome do bot</label>
        <input type="text" class="form-control input-sm" ng-model="obj.indentificador" placeholder="Informe como vai ser chamado">
    </div>

    <div class="col-xs-12">

      <p style="font-size: 12px;">1º Inicie uma conversa com o bot ja existente digitando /idchat. Ele retornará um identificador, caso seja um grupo bote tambem o sinal de menos, que você precisará informar logo abaixo:</p>
      
      <p>
        <input type="text" class="form-control input-sm" style="width: 50%; display: inline-block;" ng-model="obj.idchat" placeholder="Informe id chat para nos">
        <button class="btn btn-primary btn-sm" ng-click="testeAlarme()">Confirme id chat</button>
      </p>

      <p style="font-size: 12px;">2º recebendo uma confirmação no telegram, as configurações já estão prontas</p>

    </div>

  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="!obj.indentificador && !obj.tokenBot && !obj.idchat">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancelar()">Cancel</button>
  </div>

</div>
