<div class="modal-content">
	<div class="modal-header vertical-align">
		<h4 class="modal-title"><i class="{{icon}}" aria-hidden="true" style="{{iconColor}}"></i> {{titulo}}</h4>
	</div>
	<div class="box-header with-border">

		<div class="col-xs-12 title-align">

			<p class="textConfimacao">
				{{msg}}
			</p>

		</div>

	</div>
</div>

<div class="modal-footer msg-confirm">
	<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
	<button class="btn btn-warning" type="button" ng-click="cancelar()">Cancel</button>
</div>