<div ng-controller="headerController as headerCtrl">
<a href="/#/" class="logo">
  <span class="logo-mini"><i class='fa fa-industry'></i><b></b></span>
  <!-- <span class="logo-lg"><i class='fa fa-industry'></i> <b>Paint Tracker</b></span> -->
  <div class="pull-center image">
    <img src="/assets/imgs/Intech.png" class="" alt="User Image">
  </div>
  <!-- <span class="logo-lg"><b ng-style="{'font-size': headerCtrl.header[0].nome_fontsize}">{{headerCtrl.header[0].nome}}</b></span> -->
</a>

<nav class="navbar navbar-static-top" ng-include="'/template/header/navbar/navbar.html'"></nav>
</div>
